* {
    box-sizing: border-box;
  }

  p {
    color: red;
  }

  h1 {
    color: blue;
  }

  title {
    font-size: bold;
    color:aquamarine;
  }

 section{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin:20px;
  }

  div {
    width: 150px;
    border: 7px solid yellow;
    padding: 25px;
    margin: 10px;
  }